// .section {
//   @apply py-16;
// }
// .container {
//   @apply mx-auto max-w-[1218px] px-3;

//   &-xl {
//     @apply mx-auto max-w-[1440px] px-3;
//   }
// }

// .testimonial-slider {
//   background-image: url('data:image/svg+xml,%3Csvg width=%22462%22 height=%22458%22 viewBox=%220 0 462 458%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M36.9901 53.2939C8.66553 90.8729-.680565 197.569.0380893 247.72 3.02596 456.228 136.937 460.573 283.124 457.125 406.681 454.211 459.969 401.82 461.426 261.777 462.591 149.742 432.9 78.8779 413.134 60.3019 326.242-21.359 89.5954-16.4987 36.9901 53.2939z%22 fill=%22%23fe6019%22/%3E%3C/svg%3E');
//   @apply h-full bg-contain bg-[center_top] bg-no-repeat;
// }

/* @media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */
