@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* border: 1px solid red;
  max-width: 33%; */
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1380px;
}
.container,
.container-xl {
  margin-left: auto;
  margin-right: auto;
}
.container-xl {
  max-width: 1440px;
}
